@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

body {
    background-color: aquamarine;
}

.App {
    text-align: center;
}

.container {
    max-width: 80%;
    padding: 0 15px;
    margin: 0 auto;
}

.list-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    flex-wrap: wrap;
}

.page-link {
    color: #0d7bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
}

a {
    text-decoration: none;
}

.active-page {
    background-color: lightblue;
    color: white;
}