@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

body {
    background-color: aquamarine;
}

.App {
    text-align: center;
}

.container {
    max-width: 80%;
    padding: 0 15px;
    margin: 0 auto;
}