@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header,
.footer {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.container {
    max-width: 80%;
    padding: 0 15px;
    margin: 0 auto;
}