.course-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 200px;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all 0.3s;
}